a:focus {
    background-color: hotpink;
}

a:hover {
    background-color: yellow;
}

.form-control:focus {
    transition: all .2s ease-in-out;
}

.form-control:hover {
    box-shadow: 5px 5px rgb(219, 218, 218);
    transform: scale(1.1);
}

.btn {
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.3s ease-in-out;
    outline: none;
}

.btn:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

#contenedor {
    height: auto;
    overflow: hidden;
    display: auto;
}

#boton1 {
    background: transparent;
    outline: none;
}

#boton1:hover {
    background: gray;
}

#boton1:focus {
    background-color: gray;
    outline-offset: 0;
    outline: 0;
}

table {
    color: white;
}

.cabecera4 {
    height: 70px;
    flex: 0%;
}